<div class="login_page">
	<h1>Quora</h1>
	<p>A place to share knowledge and better understand the world</p>
	<div class="login_section">
		<form action="/login" method="post" name ="login">
		Login:<br>
		<input type = "text" name="email" placeholder="Email"><br>
		<input type = "password" name="password" placeholder="Password"><br>
		<span id="forgot">Forgot Password?</span><br>
		<input type = "submit" name = "button" value = "Login">
		<input type = "submit" name = "button" value = "Sign Up">
		</form>
		<div class="flash"><%=flash[:message]%></div>
	</div>
</div>