<form action="/signup" method= "post" name = "signup">
	Email address:<br>
	<input type = "text" name="email" placeholder="Email" ><br>
	Password:<br>
	<input type = "password" name="password" placeholder="Password" ><br>
	Confirm Password:<br>
	<input type = "password" name="reconfirm" placeholder="Reconfim Password"><br><br>
	<input type = "submit" name = "signup_button" value = "Sign Up">
</form>
<div class="flash"><%=flash[:message]%></div>